# conf file must be in same directory as script

[json]
app_name = Workday EventLogs
version = 1.0

[workday]
rest_url = 
token_url = 
refresh_token = 
state_dir = ./state
pid_file = ./workdayEventLogs.pid
client_id = 
client_secret = 
